    /* HTML Elements */

    body {
        font-family: Helvetica;
        box-sizing: border-box;
        color: #41382A;
        background-color: #FAF9F7;
        /* width: 100vw;
        height: 100vh; */
        padding: 3vh 8vw;
        margin: 0;
    }

    h1 {
        font-style: normal;
        font-weight: 700;
        font-size: 17vw;
        /* line-height: 92px; */
        /* identical to box height */
        margin: 0;
        letter-spacing: -0.08em;
        margin: 2vh 0;
    }

    h2 {
        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 700;
        font-size: 10vw;
        line-height: 46px;
        margin: 1vh 0;
        /* identical to box height */
        letter-spacing: -0.08em;
        color: #41382A;
    }

    h3 {
        margin: 0;
    }

    p {
        letter-spacing: 0.02em;
        font-size: 3vw;
    }

    a,
    a:visited {
        color: #41382A;
        text-decoration: none;
    }
    /****** Common Elements ******/

    .blurb {
        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 400;
        font-size: 7vw;
        line-height: 6vw;
        letter-spacing: -0.05em;
        color: #41382A;
        margin: 2vh 0;
    }

    .container {
        /* width: 100%; */
        background-color: #FAF9F7;
        color: #41382A;
        border-radius: 8px;
        border: 2px solid #41382A;
        box-shadow: 7px 8px 0px 0px #41382A;
    }

    .link_name,
    .link_name:visited {
        text-align: center;
        font-style: normal;
        font-weight: 500;
        font-size: 6vw;
        color: #41382A;
        text-decoration: none;
        letter-spacing: -0.08em;
        margin: 2vh 0;
    }
    /****** Topbar ******/

    .topbar {
        position: relative;
        width: 13vw;
        /* Adjust the width as needed */
        height: 12vw;
        /* Adjust the height to accommodate both rectangles */
        margin: 10px 2vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .topbar_group {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    svg {
        width: 95%;
        height: 95%;
    }

    .topbar_header {
        width: 75%;
    }
    /* ########### Landing Page ########### */
    /******* Navigation Links Section *******/
    /* Layout of the navigation links buttons */

    .nav_links_inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 2% 8%;
        height: fit-content;
    }
    /* Layout for the navigation links section */

    .group_nav_links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2vh;
        margin: 2vh 0;
    }
    /******* Contact/Socials Links Section *******/
    /* Layout for the contacts/socials links section */

    .group_contact_links {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: start;
        gap: 10% 0;
    }
    /* Inner/container layout for contacts/social links */

    .contact_links {
        width: 30vw;
        height: 30vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    /* ########### Projects Page ########### */
    /* Layout for the projects section */

    .group_projects {
        display: flex;
        flex-direction: column;
        gap: 3vh;
    }
    /* Container layout for individual project components */

    .project_container {
        width: 100%;
        height: fit-content;
    }
    /* Layout for individual project components */

    .project_layout {
        box-sizing: border-box;
        padding: 5%;
        height: 100%;
        width: fit-content;
    }

    .project_number {
        font-weight: 700;
        font-size: 13vw;
        font-style: italic;
        letter-spacing: 0em;
    }

    .project_heading {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 10%;
    }

    .project_name {
        font-weight: 700;
        font-size: 5vw;
        width: 60%;
        font-style: italic;
        letter-spacing: 0em;
    }

    .group_project_labels {
        display: flex;
        flex-direction: row;
        gap: 3%;
    }

    .project_label {
        font-weight: 500;
        font-size: 3vw;
        width: 60%;
        letter-spacing: 0em;
        border: solid #41382A 2px;
        border-radius: 8px;
        width: fit-content;
        padding: 2px 8px;
    }
    /* ########### About Page ########### */
    /* ########### School Projects Page ########### */

    .dashed_container {
        /* width: 100%; */
        background-color: #FAF9F7;
        color: #41382A;
        border-radius: 8px;
        border: 2px dashed #41382A;
    }

    .headshot {
        max-width: 40%;
        object-fit: contain;
    }

    #homepage_photo {
        display: none;
    }

    @media screen and (min-width: 425px) {
        #homepage_photo {
            display: none;
        }
        body {
            padding: 3vh 10vw;
        }
        h1 {
            font-size: 15vw;
        }
        h2 {
            font-size: 10vw;
        }
        p {
            font-size: 2.5vw;
        }
        .blurb {
            font-size: 5vw;
            line-height: 4.8vw;
        }
        .link_name {
            font-size: 4vw;
            margin: 2vw;
        }
        .contact_links {
            width: 20vw;
            height: 20vw;
        }
    }

    @media screen and (min-width: 768px) {
        #laptop_formatting {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
        }
        #homepage_photo {
            display: inline;
            width: 100%;
            margin: 0 0 0 40px;
        }
        h1 {
            font-size: 8vw;
        }
        h2 {
            font-size: 5vw;
        }
        .blurb {
            font-size: 3vw;
            line-height: 3vw;
        }
        .topbar {
            position: relative;
            width: 9vw;
            /* Adjust the width as needed */
            height: 8vw;
            /* Adjust the height to accommodate both rectangles */
            margin: 10px 2vw;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .topbar_group {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        svg {
            width: 80%;
            height: 80%;
        }
        .topbar_header {
            width: 75%;
        }
        .group_projects {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 5vw;
            margin: 4vw 0 4vw 0;
        }
        .project_number {
            font-weight: 700;
            font-size: 6vw;
            font-style: italic;
            letter-spacing: 0em;
        }
        .project_heading {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 25%;
        }
        .project_name {
            font-weight: 700;
            font-size: 3vw;
            width: 60%;
            font-style: italic;
            letter-spacing: 0em;
        }
        .project_desc {
            font-size: 1.5vw;
            display: -webkit-box;
            /* max-width: 200px; */
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
        .project_label {
            font-weight: 500;
            font-size: 2vw;
            width: 60%;
            letter-spacing: 0em;
            border: solid #41382A 2px;
            border-radius: 8px;
            width: fit-content;
            padding: 2px 8px;
        }
        .project_container {
            width: 100%;
            height: fit-content;
        }
        .link_name {
            font-size: 2vw;
            margin: 1vw;
        }
        .contact_links {
            width: 10vw;
            height: 10vw;
        }
        .group_contact_links {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }