    /* HTML Elements */

    body {
        font-family: Helvetica;
        box-sizing: border-box;
        color: #41382A;
        background-color: #FAF9F7;
        /* width: 100vw;
        height: 100vh; */
        padding: 2rem 1.5rem;
        margin: 0;
    }

    h1 {
        font-style: normal;
        font-weight: 700;
        font-size: 3rem;
        letter-spacing: -0.08em;
        margin: 0.5rem 0;
    }

    h2 {
        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 700;
        font-size: 2.3rem;
        margin: 1rem 0;
        /* identical to box height */
        letter-spacing: -0.08em;
        color: #41382A;
    }

    h3 {
        font-size: 1.3rem;
        margin: 1rem 0;
        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 600;
    }

    h4 {
        font-size: 1rem;
        font-style: oblique;
        margin: 1rem 0;
        font-weight: 700;
    }

    p {
        letter-spacing: 0.02em;
        font-size: 1rem;
        margin: 0.5rem 0;
    }

    img {
        width: 100%;
        border-radius: 8px;
        border: 2px solid #41382A;
        margin: 4vw 0;
    }

    a,
    a:visited {
        color: #41382A;
        text-decoration: none;
    }

    li {
        margin: 10px 0;
        letter-spacing: -0.02em;
    }
    /****** Common Elements ******/

    .blurb {
        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 400;
        font-size: 1.3rem;
        line-height: 1.2rem;
        letter-spacing: -0.05em;
        color: #41382A;
        margin: 1rem 0;
    }

    .keycap_container {
        /* width: 100%; */
        background-color: #FAF9F7;
        color: #41382A;
        border-radius: 8px;
        border: 2px solid #41382A;
        box-shadow: 7px 8px 0px 0px #41382A;
    }

    .link_name,
    .link_name:visited {
        text-align: center;
        font-style: normal;
        font-weight: 500;
        font-size: 1.1rem;
        color: #41382A;
        text-decoration: none;
        letter-spacing: -0.08em;
        margin: 0.5rem 0;
    }
    /****** Topbar ******/

    .topbar {
        position: relative;
        width: 3.3rem;
        /* Adjust the width as needed */
        height: 3rem;
        /* Adjust the height to accommodate both rectangles */
        margin: 10px 2vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .topbar_group {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    svg {
        width: 95%;
        height: 95%;
    }

    .topbar_header {
        width: 75%;
    }
    /* ########### Landing Page ########### */
    /******* Navigation Links Section *******/
    /* Layout of the navigation links buttons */

    .nav_links_inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 2% 8%;
        height: fit-content;
    }
    /* Layout for the navigation links section */

    .group_nav_links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.3rem;
        margin: 1rem 0;
    }
    /******* Contact/Socials Links Section *******/
    /* Layout for the contacts/socials links section */

    .group_contact_links {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* justify-content: space-between; */
        justify-items: start;
        gap: 10% 25%;
    }
    /* Inner/container layout for contacts/social links */

    .contact_links {
        width: 6rem;
        height: 6rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    /* ########### Projects Page ########### */
    /* Layout for the projects section */

    .group_projects {
        display: flex;
        flex-direction: column;
        gap: 3vh;
    }
    /* Container layout for individual project components */

    .project_container {
        width: 100%;
        height: fit-content;
    }
    /* Layout for individual project components */

    .project_layout {
        box-sizing: border-box;
        padding: 5%;
        height: 100%;
        width: fit-content;
    }

    .project_number {
        font-weight: 700;
        font-size: 3rem;
        font-style: italic;
        letter-spacing: 0em;
    }

    .project_heading {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        gap: 10%;
        height: 10%;
    }

    .project_name {
        font-weight: 700;
        font-size: 1.3rem;
        width: 60%;
        font-style: italic;
        letter-spacing: 0em;
    }

    .group_project_labels {
        display: flex;
        flex-direction: row;
        gap: 3%;
    }

    .project_label {
        font-weight: 500;
        font-size: 1rem;
        width: 60%;
        letter-spacing: 0em;
        border: solid #41382A 2px;
        border-radius: 8px;
        width: fit-content;
        padding: 2px 8px;
    }
    /* ########### About Page ########### */
    /* ########### School Projects Page ########### */

    .dashed_container {
        /* width: 100%; */
        background-color: #FAF9F7;
        color: #41382A;
        border-radius: 8px;
        border: 2px dashed #41382A;
    }

    .headshot {
        max-width: 40%;
        object-fit: contain;
    }

    #homepage_photo {
        display: none;
    }

    @media screen and (min-width: 425px) {
        #homepage_photo {
            display: none;
        }
        body {
            padding: 4rem 4rem;
        }
        .contact_links {
            width: 6rem;
            height: 6rem;
        }
        .project_name {
            font-weight: 700;
            font-size: 1.7rem;
            width: 60%;
            font-style: italic;
            letter-spacing: 0em;
        }
    }

    @media screen and (min-width: 768px) {
        .keycap_container:hover {
            -webkit-transform: scale(1.05);
            -ms-transform: scale(1.05);
            transform: scale(1.05);
        }
        #laptop_formatting {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
        }
        #homepage_photo {
            display: inline;
            width: 100%;
            margin: 0 0 0 40px;
            border: none;
        }
        h1 {
            font-size: 5rem;
        }
        h2 {
            font-size: 3rem;
        }
        h3 {
            font-size: 2rem;
        }
        p {
            font-size: 1rem;
        }
        .blurb {
            font-size: 2rem;
            line-height: 1.8rem;
        }
        .group_projects {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 3rem;
        }
        .project_number {
            font-size: 3rem;
        }
        .project_name {
            font-size: 1.5rem;
        }
        .project_desc {
            font-size: 0.8rem;
            display: -webkit-box;
            /* max-width: 200px; */
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
        .project_label {
            font-size: 0.8rem;
        }
        .project_container {
            width: 100%;
            height: fit-content;
        }
        .group_contact_links {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .dashed_container>.project_layout>.project_desc {
            display: -webkit-box;
            /* max-width: 200px; */
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }