/* general */


/* Logo */

.logo {
    width: 30px;
    height: 45px;
    font-family: 'Train One';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;
    color: #41382A;
    flex: none;
    order: 0;
    flex-grow: 0;
}


/* index.html */

.homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    position: relative;
    height: 100vh;
    width: 100vw;
    background: #FAF9F7;
}

a,
a:visited {
    text-decoration: none;
    color: #41382A;
}

h1 {
    width: 180px;
    height: 45px;
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    color: #41382A;
    flex: none;
    order: 1;
    flex-grow: 0;
}


/* Navigation links */

.homepage_links {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 275;
    font-size: 15px;
    /* line-height: 22px; */
    color: #FAF9F7;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}

.homepage_links>a {
    text-align: center;
}

.linkpage {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 30px;
    gap: 50px;
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #41382A;
}

.linkpage_links>a,
.linkpage_links>a:visited {
    color: #FAF9F7;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
}


/* 石 */

.linkpage>.topbar_linkpage>.logo {
    margin: 0;
    width: fit-content;
    height: 45px;
    font-family: 'Train One';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;
    color: #FAF9F7;
}

.topbar_linkpage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    width: 100vw;
    gap: auto;
    height: 48px;
}

.back_button {
    margin: 0;
    width: fit-content;
    height: 34px;
}


/* Auto layout */

.linkpage_links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    width: 364px;
    height: 300px;
}


/* Line 1 */

hr {
    width: 100vw;
    height: 0px;
    border: 1px solid #FAF9F7;
}